---
interface Props {
    imgSrc: string;
    alt: string;
    text: string;
    className?: string;
    aos?:string;
    delay?:string;
}

const { imgSrc, alt, text, className = '',aos ='fade' ,delay ='0' } = Astro.props;
---

<div class={`card flex flex-col items-center rounded ${className} sm:justify-between`} data-aos={aos} data-aos-delay={delay}>
        <div class="img__wrapper img-wrapper">
            <img src={imgSrc} alt={alt} class="card__img" />
        </div>
        <p class="card__text text-center">{text}</p>
</div>


