---
//meta情報のインポート
import siteData from '../../siteData.mjs';

//baselayout.astro → currentPathの受け取り
const { class: className, currentPath,isTopPage } = Astro.props;
---

<header  class={`${className} l-header flex ${isTopPage ? 'items-start' : 'items-center'}`}>
    <div class="header__container l-container flex items-center px-6">
        <div class="header__inner flex w-full">
            <!-- ハンバーガーボタン（SP用） -->
            <button class="hamburger openbtn" aria-label="メニューを開く">
                <span></span><span></span><span></span>
            </button>

            <!-- メニュー -->
            <!-- PCナビ -->
            <div class="flex flex-col w-full">
                <nav class="header__nav pc-nav">
                        <ul class="header__nav-inner l-row font-bold color-white">
                            <div class="l-column l-column--3">
                                <li><a href={siteData.home.path}><img src="/assets/images/coffee-icon.png" alt=""  class="header__nav-icon block" /></a></li>
                            </div>
                            <div class="l-column l-column--9 l-row text-center items-center">
                                <li class="header__text l-column l-column--3">
                                    <a href={siteData.info.path} class={currentPath === '/info' ? 'is-active' : ''}>店舗情報</a>
                                </li>
                                <li class="header__text l-column l-column--3">
                                    <a href={siteData.intro.path} class={currentPath === '/intro' ? 'is-active' : ''}>お店の紹介</a>
                                </li>
                                <li class="header__text l-column l-column--3">
                                    <a href={siteData.menu.path} class={currentPath === '/menu' ? 'is-active' : ''}>メニュー</a>
                                </li>
                                <li class="header__text l-column l-column--3">
                                    <a href={siteData.news.path} class={currentPath === '/news' ? 'is-active' : ''}>お知らせ</a>
                                </li>
                            </div>    
                        </ul>
                </nav>
                    <a href={siteData.home.path} class="header__logo text-right color-white sm:flex sm:flex-col sm:justify-center" data-aos="fade-right" ><h1 class="pr-8 sm:pr-0 sm:pt-3">machikado cafe</h1></a>
        </div>

            <!-- スマホナビ -->
            <nav id="global-nav" class="sp-nav font-bold">
                <ul>
                    <li><a href={siteData.home.path}>トップ</a></li>
                    <li><a href={siteData.info.path}>店舗情報</a></li>
                    <li><a href={siteData.intro.path}>お店の紹介</a></li>
                    <li><a href={siteData.menu.path}>メニュー</a></li>
                    <li><a href={siteData.news.path}>お知らせ</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
